<h1>Welcome, <%= current_user.name%>!</h1>
<img src="<%= current_user.image_url %>", style="width:150px">
<h2>Notifications</h2>

<p>Github name: <%= current_user.name %></p>
<p>Github nickname: <%= current_user.nickname %></p>
<p>Github email: <%= current_user.email %></p>
<p>Number of starred repos: <%= @starred_results.count %></p>
<p>Followers: <%= @user_results["followers"] %></p>
<p>Following: <%= @user_results["following"] %></p>

<%#Authenticate with my github account%>
<%#View basic information about my account (profile pic, number of starred repos, followers, following)%>
<%#View a summary feed of my recent activity (recent commits)%>
<%#View a summary feed of recent activity from users whom I follow%>
<%#View a list of organizations I’m a member of%>
<%#View a list of my repositories%>

