<% byebug %>
  <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <h1><%= current_user.name%></h1>
      <img src="<%= current_user.image_url %>" class="img-fluid">
      <br>
      <div class="panel-body">
        <h
        <p>Name: <%= current_user.name %></p>
        <p>Nickname: <%= current_user.nickname %></p>
        <p>Email: <%= current_user.email %></p>
        <p>Starred repos: <%= User.starred_results(current_user).count %></p>
        <p>Followers: <%= @profile.user_results[:followers] %></p>
        <p>Following: <%= @profile.user_results[:following] %></p>
      </div>
      <br>

      <div class="panel-body table-responsive">
        <h2>Organizations</h2>
        <table class="table table-hover table-striped table-bordered">
          <thead>
          </thead>
          <tbody>
            <% @profile.orgs_results.each do |org| %>
              <tr>
                <td><%= org[:name] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>

    </div>
    <div class="col-5">
      <h2>Create Repo</h2>
        <div class="form-group form-responsive">
          <%= form_tag(repo_path) do %>
            <%= text_field_tag(:repo_name) %>
            <%= submit_tag "Submit", class: "btn btn-primary" %>
          </div>
        <% end %>
    <br>

    <div class="panel-body table-responsive table-lg" >
    <h2>Repos</h2>
      <table class="table table-hover table-striped table-bordered">
        <thead>
        </thead>
        <tbody>
          <% @profile.repos_results.sort_by{|k| k[:created_at]}.reverse.each do |repo| %>
            <tr>
              <td><%= repo[:name] %>
            <td><a href="<%= repo[:html_url] %>">Link to Repo</a></td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <br>

  </div>
  <div class="col-5">
    <div class="panel-body table-responsive">
    <h2>Recent Activity</h2>
      <table class="table table-hover table-striped table-bordered">
        <thead>
        </thead>
        <tbody>
          <% count = 0 %>
          <% @profile.events_results.each do |event| %>
            <tr>
              <td><img src="<%= event[:actor][:avatar_url] %>" class="img-thumbnail" style="width:40%"></td>
              <td><%= event[:actor][:display_login] %></td>
              <td><%= event[:repo][:name] %></td>
              <td><%= event[:type] %></td>
            </tr>
            <% count += 1 %>
            <% break unless count < 5 %>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>

    <div class="panel-body table-responsive">
      <table class="table table-hover table-striped table-bordered">
        <thead>
        </thead>
        <tbody>
          <h2>Recent Activity From Users I Follow</h2>
          <% count = 0 %>
          <% @profile.received_events_results.each do |event| %>
            <tr>
              <td><img src="<%= event[:actor][:avatar_url] %>" class="img-thumbnail" style="width:65%"></td>
              <td><%= event[:actor][:display_login] %></td>
              <td><%= event[:repo][:name] %></td>
              <td><%= event[:type] %></td>
            </tr>
            <% count += 1 %>
            <% break unless count < 5 %>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>

  </div>
</div>
</div>
